APP_NAME=Taskflow
APP_ENV=production
APP_DEBUG=false
APP_KEY=
APP_URL=

# Base de données MySQL (Railway fournit ces valeurs)
DB_CONNECTION=mysql
DB_HOST=
DB_PORT=3306
DB_DATABASE=
DB_USERNAME=
DB_PASSWORD=

MAIL_MAILER=smtp
MAIL_HOST=smtp.gmail.com
MAIL_PORT=587
MAIL_USERNAME=
MAIL_PASSWORD=
MAIL_ENCRYPTION=tls
MAIL_FROM_ADDRESS=
MAIL_FROM_NAME=Taskflow

FRONTEND_URL=
SANCTUM_STATEFUL_DOMAINS=
SESSION_DRIVER=cookie
SESSION_SAME_SITE=none
SESSION_SECURE_COOKIE=true